@model Web_application_of_students_squad_SFEDU.ViewModels.RegisterViewModel
<div class="hero_area2  fixed-top" style=" z-index: -1030 ">  </div>
<section class="login_section">
    <div class="container" style="position: center">
        <div class="row">
            <div class="col-md-6">
                <div class="login_form">
                    <h5>
                        Регистрация
                    </h5>
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <label asp-for="Email"></label><br />
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div>
                            <label asp-for="Password"></label><br />
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div>
                            <label asp-for="PasswordConfirm"></label><br />
                            <input asp-for="PasswordConfirm" />
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>
                        <div>
                            <label asp-for="Surname" >Фамилия</label><br />
                            <input asp-for="Surname" />
                            <span asp-validation-for="Surname"></span>
                        </div>
                        <div>
                            <label asp-for="Name">Имя</label><br />
                            <input asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div>
                            <label asp-for="Patronymic">Отчество</label><br />
                            <input asp-for="Patronymic" />
                            <span asp-validation-for="Patronymic"></span>
                        </div>
                        <div>
                            <label asp-for="BirthDate">Дата рождения</label><br />
                            <input type="date" min="1922-01-01" max="2012-01-01" asp-for="BirthDate" />
                            <span asp-validation-for="BirthDate"></span>
                        </div>
                        <div>
                            <label asp-for="DirectionOfSquad">Направление отряда</label><br />
                             <select asp-for="DirectionOfSquad">
                    <option value="Педагогическое">Педагогическое (здесь же спортивно-педагогический отряд)</option>
                    <option value="Строительное">Строительное</option>
                    <option value="Сервисное">Сервисное (здесь же информационный отряд)</option>
                    <option value="Отряд проводников">Отряд проводников</option>
                       </select><br>
                            <span asp-validation-for="DirectionOfSquad"></span>
                        </div>
                        <div>
                            <label asp-for="NameOfSquad">Название отряда</label><br />
                            <input asp-for="NameOfSquad" />
                            <span asp-validation-for="NameOfSquad"></span>
                        </div>
                        <div>
                            <label asp-for="Department">Факультет</label><br />
                            <input asp-for="Department" />
                            <span asp-validation-for="Department"></span>
                        </div>
                        <div>
                            <label asp-for="Course">Курс</label><br />
                            <input asp-for="Course" />
                            <span asp-validation-for="Course"></span>
                        </div>
                        <div>
                            <label asp-for="Group">Группа</label><br />
                            <input asp-for="Group" />
                            <span asp-validation-for="Group"></span>
                        </div>
                        <div>
                            <label asp-for="Money">Бюджет/Коммерция</label><br />
                             <select asp-for="Money">
                    <option value="Бюджет">Бюджет</option>
                    <option value="Коммерция">Коммерция</option>
                </select><br>
                            <span asp-validation-for="Money"></span>
                        </div>
                        <div>
                            <label asp-for="VK">Ссылка VK</label><br />
                            <input asp-for="VK" />
                            <span asp-validation-for="VK"></span>
                        </div>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>