@model Article


<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h1 style="margin-top: 70px; text-align: center">Редактировать статью</h1>
    <div>
        <form asp-controller="News" asp-action="NewsEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TitleImagePath" />
               @*<input type="hidden" asp-for="Data" />*@
            <div asp-validation-summary="All"></div>

            <div style="text-align: center">
                <label asp-for="Title"></label>
                <input maxlength="25" asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="div-box">
                @* <div style="margin-bottom: 10px">
                    <img class="img-block" src="~/images/news/@Model.TitleImagePath" style="width: 50%; margin-left: 25%" />
                </div>*@          

                <div style="text-align: center; margin-bottom: 20px">
                    <p><b>Фотографии должны быть формата jpeg или png!</b></p>
                    <label asp-for="TitleImagePath"></label>
                    <input type="file" name="titleImageFile" id="titleImageFile" />
                </div>
            </div>
            <div style="text-align: center">
                <label asp-for="Text"></label>
                <textarea asp-for="Text"></textarea>
                <span asp-validation-for="Text"></span>
            </div>

            <div style="text-align: center;">
                <label asp-for="Data" style="align-items: center;"></label>
                <input type="date" asp-for="Data" min="2021-01-01" max="2032-01-01"/>
                <span asp-validation-for="Data"></span>
            </div>
            <div style="text-align: center; margin-bottom: 10px">
                <input type="submit" value="Сохранить" />
            </div>
        </form>
    </div>
</div>


<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>
