@model IQueryable<Article>

<div class="text-center">
<h1>
    Новости 
</h1>

<h1>
    Новости
</h1>
    @foreach (Article entity in Model)
    {
        <div>
            <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@entity.Id">
                      @entity.Title
            </a>
        @*@Html.Raw(@entity.Text)*@
        </div>
    }
</div>

