@model IQueryable<Article>

<div>
    <a asp-controller="Articles" asp-action="ArticlesEdit">Новая статья</a>
</div>

<div>
    <a asp-controller="Articles" asp-action="ArticlesEdit">Новая статья</a>
</div>



<div class="text-center">
<div>
    <a asp-controller="Articles" asp-action="ArticlesEdit">Новая статья</a>
</div>
    @foreach (Article entity in Model)
    {
        <div>
            @entity.Title
            |
            <a asp-controller="Articles" asp-action="ArticlesEdit" asp-route-id="@entity.Id">редактировать</a>
            |
            <form method="post" asp-controller="Articles" asp-action="ArticlesDelete">
                <input type="hidden" name="Id" value="@entity.Id"/>
                <input type="submit" value="удалить"/>
            </form>
        </div>
    }
</div>