<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Сайт ШСО ЮФУ</title>

    @await Html.PartialAsync("CssPartial")
    <link href="~/fonts/AmaticSC-Bold.ttf">
    <link href="~/fonts/Lora-VariableFont_wght.ttf">
</head>
@await Html.PartialAsync("HeaderPartial")
<body>
    <div class="container" style="max-width: 100%; padding: 0; flex: 1 0 auto">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div style="flex: 0 0 auto">
        @await Html.PartialAsync("FooterPartial")
        @await Html.PartialAsync("ScriptsPartial")
    </div>
</body>

</html>
