 <!-- header section strats -->
<header class="header_section fixed-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <!-- эмблема ШСО -->
                <img src="~/images/emblem.jpg" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                <ul class="navbar-nav  ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link down">Пресс-служба</a>
                        <ul class="submenu">
                            <li><a asp-area="" asp-controller="Articles" asp-action="Index">Новости</a></li>
                            <li><a href="">Галерея</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Directions">Направления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Structure">Структура</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link down">О нас</a>
                        <ul class="submenu">
                            <li><a  asp-area="" asp-controller="Home" asp-action="About">История и достижения</a></li>
                            <li><a  asp-area="" asp-controller="Home" asp-action="Contacts">Обратная связь</a></li>
                        </ul>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="index">Администратор</a>
                        </li>
                    }
                    else
                    {
                         @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">Профиль</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                    }
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->