@model IQueryable<Galery> 
<h1 style="margin-top: 64px; text-align: center">Галерея</h1>


 @foreach (Galery entity in Model)
{
          @entity.Title
           //<a asp-area="" asp-controller="Galery" asp-action="Index" asp-route-id="@entity.Id">
          <img src="~/images/gallery/@entity.TitleImagePath" alt="" class="left img-fluid nwsborder"/>
          //</a>
}
