@model IQueryable<Galery> 
<div class="hero_area  fixed-top" style=" z-index: -1030 ">  </div>
<p style="margin-top: 70px; text-align: center; color: white; font-size: 60px; font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">Галерея</p>
<section class="section_gallery" style="font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;">
    <div class="row">
        @foreach (Galery entity in Model)
        {
            <section class="col-md-6 col-lg-4 one_photo">
                <ul class="hover-effect-scale">
                    <li>
                         <img src="~/images/gallery/@entity.TitleImagePath" alt="" class="left img-fluid photoborder" />
                        <div>
                            <h3>@entity.Title</h3>  
                        </div>
                    </li>
                </ul>
            </section>
        }
    </div>
</section>