@{
    ViewData["Title"] = "About";
}

<!-- Эту страницу делал Аведик -->
<section class="About_page" style="margin-top: 64px; background-color: #8289dd;">
    <div class="container">
        <div class="row row1">
            <div class="detail-box history_container" style="margin-top: 15px; font-family: 'History'">
                <p style="text-align: center; font-size: 70px">
                    История
                </p>
                <ul style="font-size: 30px ">
                    <li>
                        Август 2014 - Дирекция развития студенческих отрядов проводит в Таймази программу
                        дополнительного образования "Социальные технологии организации деятельности студенческих объединений и отрядов"
                    </li>
                    <li>
                        Март 2015 - на собрании Штаба студенческих отрядов ЮФУ избирается командир и комиссар Штаба
                    </li>
                    <li>
                        Сентябрь 2015 - Студенческий отряд ЮФУ "Делопроизводитель" участвует в работе на выборах Губернатора
                        Ростовской области и депутатов Ростовской-на-Дону городской думы
                    </li>
                    <li>
                        15 мая 2016 год - официально создается Штаб студенческих отрядов ЮФУ
                    </li>
                    <li>
                        Март 2018 - проходит первый форум кандидатов в студенческие отряды ЮФУ
                    </li>
                    <li>
                        Март 2019 - создание ССервО «Фотон», создание ССО «Пилигрим»
                    </li>
                    <li>
                        Декабрь 2019 - проходит первый ЮФУшник
                    </li>
                    <li>
                        Апрель 2020 - создание СОП «Рейс 404»
                    </li>
                    <li>
                        Май 2020 - проводится онлайн школа PRO.РСО
                    </li>
                    <li>
                        Октябрь 2020 - создание ССервО «Ракета»
                    </li>
                    <li>
                        Ноябрь 2020 - проект наставничества РСО life, организованный совместно с представителями Штабов ДГТУ, РГЭУ РИНХ и ЮРГПУ НПИ
                    </li>
                    <li>
                        30 апреля - 5 мая 2021 года – проходит первая выездная школа штаба PRO.RSO в Таймази
                    </li>
                    <li>
                        Май 2021 - открытие помещения для штаба в новом кампусе общежитий ЮФУ
                    </li>
                    <li>
                        Май 2021 года - презентация переходящего знамени Ректора для лучшего студенческого отряда
                    </li>
                    <li>
                        Сентябрь 2021 года - создание первого информационного отряда ЮФУ «Вспышка»
                    </li>
                </ul>
            </div>
            <div class="img_container">
            </div>
        </div>
        <div class="row row2">
            <div class="detail-box" style="background-color: white; border-radius: 10px; margin-bottom: 20px; font-size: 1.25rem; font-weight: 300; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                <div class="achieve_table">
                    <h3 style="text-align:  center; text-decoration: underline; font-weight: 400">
                        Достижения
                    </h3>
                    <div class="achievements_img">
                        <img src="~/images/award.png" alt="" style="margin-left: auto; margin-right: auto; display: block" />
                    </div>
                </div>
                <div class="achievements_container">
                    <ul class="Achievements_ul">
                        <li>
                            <b>Апрель 2015</b> - участие бойцов штаба в Молодежном субботнике в Ростове
                        </li>
                        <li>
                            <b>Апрель 2015</b> - участие в Окружной школе студенческих отрядов ЮФО в Элисте
                        </li>
                        <li>
                            <b>Январь 2016</b> - Строительный отряд ЮФУ в составе регионального строительного отряда
                            отремонтировал палаты Госпиталя ветеранов войн
                        </li>
                        <li>
                            <b>Апрель 2016</b> - участие бойцов в древонасаждении ботанического сада
                        </li>
                        <li>
                            <b>Ноябрь 2017</b> - участие в творческом фестивале туристической песни
                        </li>
                        <li>
                            <b>Январь 2018</b> - впервые бойцы штаба приняли участие в Губернаторском бале
                        </li>
                        <li>
                            <b>Апрель 2019</b> - бойцы штаба побывали на радиостанции «FM на Дону»
                        </li>
                        <li>
                            <b>Целина 2019</b> - бойцы ССО «Пилигрим» участвуют в трудовом проекте МСС «Уренгой 2020», г. Новый Уренгой
                        </li>
                        <li>
                            <b>Октябрь 2020</b> - бойцы штаба являлись участниками и организаторами VII Всероссийского форума
                            студенческих педагогических отрядов, г. Сочи
                        </li>
                        <li>
                            <b>Ноябрь 2020</b> - онлайн форум кандидатов в студенческие отряды ЮФУ
                        </li>
                        <li>
                            <b>Декабрь 2020</b> - Штаб студенческих отрядов ЮФУ побеждает в номинации «Прорыв года»
                        </li>
                        <li>
                            <b>Декабрь 2020 года</b> - впервые в конкурсе «Студент года» проведена номинация «боец
                            Штаба студенческих отрядов года”
                        </li>
                        <li>
                            <b>Апрель 2021</b> - первая спортивная победа на межрегиональном уровне
                        </li>
                        <li>
                            <b>Май 2021 года</b> - впервые прошёл конкурс «Лучший кандидат студенческих отрядов ЮФУ»
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
