@model Web_application_of_students_squad_SFEDU.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<section class="profile_section">
    <div class="profile_info">
        <form asp-action="ChangePassword" asp-controller="Home">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />
            <div class="form-group" style="padding: 10px">
                <label asp-for="OldPassword" class="control-label" style="color: black">Старый пароль</label>
                <input type="text" asp-for="OldPassword" class="form-control" />
            </div>
            <div class="form-group" style="padding: 10px">
                <label asp-for="NewPassword" class="control-label" style="color: black">Новый пароль</label>
                <input type="text" asp-for="NewPassword " class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" style="border: 1px solid black; background-color: #eeedf7; color: black; "/>
            </div>
        </form>
    </div>
</section>
