@{
    ViewData["Title"] = "Directions";
}
<div class="hero_area  fixed-top" style=" z-index: -1030 ">  </div>
<section class="section_directions">
    <p style="font-size: 30px">
        <strong>
            В ШСО ЮФУ Вы можете стать бойцом одного из направлений, которые реализуются отрядами Штаба:
        </strong>
    </p>
    <p>
        <strong>
            - Строительное направление - ССО <u>"Пилигрим"</u>
        </strong>
    </p>
    <p>
        <mark>
            Если у тебя закаленный характер или ты хочешь проверить свою силу воли, то строительный отряд - это для тебя. Мы предлагаем работу для настоящих мужчин.
            <br>
            За время своего существования отряд успел отработать на разных объектах:
        </mark>
    </p>
    <ul>

        <li><i>НПС "Уренгойская", г. Новый Уренгой, 2019г. (Зональная стройка).</i></li>
        <li><i>МСС "Уренгой 2020", г. Новый Уренгой, 2020г. (Межрегиональная стройка).</i></li>
        <li><i>НПЗ "Новошахтинск", г. Новошахтинск, 2021г.</i></li>

    </ul>
    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_stro_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_stro_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_stro_3.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 20px">
        <mark>
            <strong>
                Как попасть в строительный отряд?
            </strong> <br>
            Приходи на школу молодого бойца, где тебя научат работать на объекте, расскажут историю РСО, научат проводить мероприятия на стройке в свободное от работы время.
        </mark>
    </p>

    <p>
        <strong>
            - Сервисное - ССервО "Фотон", ССервО "Ракета", СИО "Вспышка"
        </strong>
    </p>
    <p>
        <mark>
            Сервисные отряды - одно из самых востребованных направлений деятельности на современном рынке труда.
            <br>
            Чёрное море, яркое солнце, весёлая компания, новые друзья и знакомые, неописуемые эмоции - лишь малая часть того, что ждёт тебя в сервисных отрядах Южного Федерального Университета!
        </mark>
    </p>
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_servis_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_servis_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_servis_3.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 20px">
        <mark>
            Ты все ещё сомневаешься, подходит ли тебе сервисное направление?
        </mark>
    </p>
    <ul>
        <li>Ты молодой, активный, позитивный, дружелюбный человек?</li>
        <li>Не знаешь, чем занять себя в свободное время?</li>
        <li>Находишься в поиске работы?</li>
        <li>Хочешь реализовать себя и саморазвиваться?</li>
        <li>Готов обрести большую и дружную семью единомышленников?</li>
    </ul>
    <p>
        <mark>
            Если на все вопросы ты ответил «да!», то скорее присоединяйся к нам!
        </mark>
    </p>
    <p>
        <strong>
            - Педагогическое - СПО "Витамин роста", РОПО "ЮГА", спортивно-педагогический отряд ССПО "Легион"
        </strong>
    </p>
    <blockquote class="blockquote">
        <i>
            Кусочек сердца отдавать кому-то <br /> - Такая, брат, у нас с тобой работа!
        </i>
    </blockquote>
    <p>
        <mark>
            Вожатый — это не просто работа. Это призвание, самоотверженность, сила духа и огромная любовь к детям.
            <br>
            Если ты обладаешь этими качествами или хочешь работать над их развитием, для тебя есть прекрасные новости!
            <br> <br><strong>
                Все еще не решаешься? Смотри, что тебя ждет!
            </strong> <br>
            Создание крутых квестов и игр для детей! Вот, какой «Форд-боярд» приготовила в лагере командир ССПО «Легион» Полина Ефанова.
        </mark>
    </p>

    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_pedagog_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_3.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 20px">
        <mark>
            Теплые встречи с друзьями! #<u>Любовь_в_оранжевых_футболках</u> всегда рядом и всегда греет
        </mark>
    </p>
    <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_pedagog_4.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_5.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_6.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 20px">
        <mark>
            Самые крепкие и искренние объятия детей! Вот, как любят дети «<u>ЮГА»</u>
        </mark>
    </p>
    <div id="carouselExampleIndicators5" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators5" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators5" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_pedagog_7.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_8.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_pedagog_9.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators5" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators5" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 40px">
        <strong>
            - Студенческие отряды проводников - СОП "Рейс 404"
        </strong>
    </p>
    <ul>
        <li>Привлекает романтика поездов? </li>
        <li>Любишь путешествовать по нашей стране?</li>
        <li>Смог бы совмещать путешествие с работой?</li>
    </ul>
    <p>
        <mark>
            Если ты ответил «да» хотя бы на один из вопросов, то тебе точно нужно вступить в отряд проводников <u>«Рейс 404».</u>
            <br>
            Их девиз: «Не ошибка, а призвание!»
            <br>
            Отряд существует с 2020 года. В 2021 году впервые выехал на целину.
            <br>
            Заработная плата проводника в месяц в 2021 году составила более 30 тысяч рублей.
            <br>
            Наши бойцы за это лето успели посетить Москву, Санкт-Петербург, Тольятти, Архангельск, Мурманск и даже Воркуту.
        </mark>
    </p>
    <div id="carouselExampleIndicators6" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators6" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators6" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/slide_provodnik_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_provodnik_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/slide_provodnik_3.jpg">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators6" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators6" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p style="margin-top: 40px">
        <mark>
            <strong>
                Как проходят занятия?
            </strong>
        </mark>
    </p>
    <blockquote class="blockquote">
        <i>
            «Школа у проводников в этом году проходила дистанционно, но это не помешало ребятам закончить
            обучение и сдать экзамен. Кандидаты научились правильному взаимодействию с пассажирами,
            познакомились с решением проблемных ситуаций, научились безошибочно заполнять документы отчетности и,
            конечно, узнали, какие вообще рейсы существуют»<br /> © Екатерина Олдырева — Комиссар Рейса.
        </i>
    </blockquote>
</section>

