@model IQueryable<Article> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="hero_area  fixed-top" style=" z-index: -1030 ">  </div>
<!-- slider section -->
<section class=" slider_section position-relative" style="margin-top : 15%">
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        ОДНО ДВИЖЕНИЕ - ОДНА ЛЮБОВЬ!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        БОЛЬШЕ, ЧЕМ ПРОСТО РАБОТА!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        ПОМОЖЕМ ПРОВЕСТИ ЛЕТО С ПОЛЬЗОЙ!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <a class="join_btn" href="https://vk.com/rsosfu?w=app5708398_-93538733">
        Вступить в отряд
    </a>

</section>
<!-- end slider section -->
<div style="background-color : #ffffff; z-index: 500">

    <!-- about section -->
    <section class="about_section layout_padding" style="margin-top : 18%">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img_container">
                        <div class="img-box b1">
                            <img src="images/a-1.webp" alt="" style="border-radius: 10px" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container;" style="text-align: center;">
                            <p style="font-size : 24px; font-family: 'Lora'">
                                <b>Штаб студенческих отрядов ЮФУ</b> - это твоя возможность стать частью крупнейшего молодежного движения России, найти дело по душе, обрести друзей на всю жизнь, приложить свои силы на благо будущего страны.
                            </p>
                            <p style="font-size : 24px; font-family: 'Lora'">
                                <b>Мы</b> - часть РСО - организация, обеспечивающая молодежь временной трудовой занятостью, формирующая патриотическое воспитание, а также творческий и спортивный потенциал.
                            </p>
                             <a asp-controller="Home" asp-action="Directions" asp-route-id="">
                               Читать больше...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end about section -->
<!-- course section -->

<section class="course_section layout_padding-bottom" style=" margin-top : 20px">
    <div class="container">
        <div class="heading_container" style=" color : #ffffff; font-family: 'AmaticSC-Bold'; text-align: center">
            <p style="font-size: 70px">
                ПРЕСС-СЛУЖБА ШСО
            </p>
            <p style="font-size: 30px">
                Тут вы можете узнать всё о наших последних новостях
            </p>
        </div>
    <div class="row archive">
       
            @{
                int k = 0;
            }
            @foreach (Article entity in Model)
            {
                k++;
                <section class="col-md-6 col-lg-4 one_news">
                <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/news/@entity.TitleImagePath" alt="" class="left img-fluid nwsborder"/>
                </a>
                <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@entity.Id" style="text-decoration: none; background-color: #0a053b77; border: solid 1px white; border-radius: 16px; padding: 0 8px; color: white; font-weight: 500; position: absolute; left: 35px; bottom: 15px; font-size: 25px;">
                    @entity.Title
                </a>
                @if(k == 6)
                    break;
            </section>
             }
    </div> 
        @if (k == 0)
        {
            <div class="course_container">
             <div class="course_content">
                <div class="box">
                    <img src="images/c-0.jpg" alt="" />
                     <a href="" class="">
                        <img src="images/link.png" alt="" />
                     </a>
                    <h5>
                        Тестовые<br />
                        новости
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-1.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Тестовые<br />
                        новости
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-2.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                       Тестовые<br />
                        новости
                    </h5>
                </div>
            </div>
            <div class="course_content">
                <div class="box">
                    <img src="images/c-3.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Тестовые<br />
                        новости
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-4.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Тестовые<br />
                        новости
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-5.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Тестовые<br />
                        новости
                    </h5>
                </div>
            </div>
        </div>
            
        }
        <div class="btn-box">
            <a asp-controller="Articles" asp-action="Index" asp-route-id="">
                Читать больше...
            </a>
        </div>
    </div>
</section>

 <!-- end course section -->
 <!-- client section -->
<div class="commanders" style="background-color: #ffffff; z-index: 500; border-top: solid #cf2f1d 10px;">
    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="somewords" style="text-align: center;">
                <p>
                    Несколько слов от наших командиров:
                </p>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/images/AnnaSorokina.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Анна Сорокина
                                </h5>
                                <p>
                                    Лето - не время для отдыха!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/images/DaryaUshina.webp" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Дарья Юшина
                                </h5>
                                <p>
                                    Отряд для меня, прежде всего, друзья, которые помогут справиться с проблемами в отряде и с которыми можно просто тепло и уютно посидеть
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="max-width: auto; height: 5px; background-color: white;"></div>
    <!-- end client section -->