@{
    ViewData["Title"] = "Home Page";
}
<div class="hero_area  fixed-top" style=" z-index: -1030 ">  </div>
<!-- slider section -->
<section class=" slider_section position-relative" style="margin-top : 15%">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        ОДНО ДВИЖЕНИЕ - ОДНА ЛЮБОВЬ!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        БОЛЬШЕ, ЧЕМ ПРОСТО РАБОТА!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        ПОМОЖЕМ ПРОВЕСТИ ЛЕТО С ПОЛЬЗОЙ!
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="join_btn" href="">
        Вступить в отряд
    </a>

</section>
<!-- end slider section -->
<div style="background-color : #ffffff; z-index: 500">

    <!-- about section -->
    <section class="about_section layout_padding" style="margin-top : 18%">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img_container">
                        <div class="img-box b1">
                            <img src="images/a-1.webp" alt="" style="border-radius: 10px" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container;" style="text-align: center; font-family: 'Lora'">
                            <p style="font-size : 24px; font-family: 'Lora'">
                                <b>Штаб студенческих отрядов ЮФУ</b> - это твоя возможность стать частью крупнейшего молодежного движения России, найти дело по душе, обрести друзей на всю жизнь, приложить свои силы на благо будущего страны.
                            </p>
                            <p style="font-size : 24px; font-family: 'Lora'">
                                <b>Мы</b> - часть РСО - организация, обеспечивающая молодежь временной трудовой занятостью, формирующая патриотическое воспитание, а также творческий и спортивный потенциал.
                            </p>
                            <a href="">
                                <b>Read More</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end about section -->
<!-- course section -->

<section class="course_section layout_padding-bottom" style=" margin-top : 20px">
    <div class="container">
        <div class="heading_container" style=" color : #ffffff; font-family: 'AmaticSC-Bold'">
            <p style="font-size: 70px">
                ПРЕСС-СЛУЖБА ШСО
            </p>
            <p style="font-size: 30px">
                Тут вы можете узнать всё о наших последних новостях
            </p>
        </div>
        <div class="course_container">
            <div class="course_content">
                <div class="box">
                    <img src="images/c-0.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название <br />
                        описание
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-1.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название <br />
                        описание
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-2.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название <br />
                        описание
                    </h5>
                </div>
            </div>
            <div class="course_content">
                <div class="box">
                    <img src="images/c-3.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название <br />
                        описание
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-4.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название <br />
                        описание
                    </h5>
                </div>
                <div class="box">
                    <img src="images/c-5.jpg" alt="" />
                    <a href="" class="">
                        <img src="images/link.png" alt="" />
                    </a>
                    <h5>
                        Название<br />
                        описание
                    </h5>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                Читать больше...
            </a>
        </div>
    </div>
</section>

<!-- end course section -->
<!-- client section -->
<div style="	background-color : #ffffff; z-index: 500">
    <section class="client_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container">
                <p>
                    Несколько слов от наших командиров:
                </p>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ФИО
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ФИО
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ФИО
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/client.png" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>
                                    ФИО
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-box">
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->
    <!-- contact section -->

    <section class="contact_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h3 style="font-size: 45px; font-family: 'AmaticSC-Bold'">
                                Свяжитесь с нами
                            </h3>
                            <p style="font-size: 25px; font-family: 'AmaticSC-Bold'">
                                Ответим на любые ваши вопросы
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <h5>
                            Связаться
                        </h5>
                        <form action="">
                            <div>
                                <input type="text" placeholder="Полное имя " />
                            </div>
                            <div>
                                <input type="text" placeholder="Номер телефона" />
                            </div>
                            <div>
                                <input type="email" placeholder="Электронная почта" />
                            </div>
                            <div>
                                <input type="text" placeholder="Ваше сообщение" class="input_message" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn_on-hover">
                                    <b>Отправить</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section-->
</div>

<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.js"></script>