@model Join
<div class="hero_area3  fixed-top" style=" z-index: -1030 ">  </div>
<section class="join" style="margin-top: 76px">
    <form method="post" asp-controller="Home" asp-action="Join"  class="joinForm">
        <div asp-validation-summary="ModelOnly"></div>
          <input type="hidden" asp-for="Id"/>
        <p><em>АНКЕТА</em> НА ВСТУПЛЕНИЕ В ШСО ЮФУ</p>
        <fieldset>
            <legend>Контактная информация</legend>
            <div>
                <label asp-for="SurName"><i>Фамилия</i> <em>*</em></label>
                <input type="text" maxlength="40" asp-for="SurName" />
            </div>
             <div>
                <label asp-for="Name"><i>Имя</i> <em>*</em></label>
                <input type="text" maxlength="40" asp-for="Name" />
            </div>
             <div>
                <label asp-for="Patronymic">Отчество</label>
                <input type="text" maxlength="40" asp-for="Patronymic" />
            </div>
             <div>
                <label asp-for="PhoneNumber"><i>Телефон</i> <em>*</em></label>
                <input type="text" maxlength="20"asp-for="PhoneNumber" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Персональная информация</legend>
            <div>
                <label asp-for="Age">Возраст</label>
                <input type="number" asp-for="Age" />
            </div>
             <div>
            <label asp-for="Gender"><i>Пол</i> <em>*</em></label>
            <select asp-for="Gender">
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select><br>
             </div>
            
            <div>
             <label asp-for="DirectionOfSquad"><i>Направление, которое Вас интересует:</i><em>*</em></label>
            <select asp-for="DirectionOfSquad">
                <option value="Педагогическое">Педагогическое (здесь же спортивно-педагогический отряд)</option>
                <option value="Строительное">Строительное</option>
                <option value="Сервисное">Сервисное (здесь же информационный отряд)</option>
                <option value="Отряд проводников">Отряд проводников</option>
            </select><br>
            </div>
            <div>
                <label asp-for="Department">Факультет</label>
                <input type="text"  maxlength="40" asp-for="Department" />
            </div>
        </fieldset>
        <p><i>Мы скоро с Вами обязательно свяжемся!</i></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
</section>