@model IEnumerable<Web_application_of_students_squad_SFEDU.Models.User>

<h2 style="margin-top: 64px">Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>
<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.js"></script>